<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Register Form</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/opensans-font.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/line-awesome/css/line-awesome.min.css}">
    <!-- Jquery -->
    <link rel="stylesheet" th:href="@{https://jqueryvalidation.org/files/demo/site-demos.css}">
    <!-- Main Style Css -->
    <link rel="stylesheet" th:href="@{/css/r-style.css}"/>
</head>
<body class="form-v4">
<div class="page-content">
    <div class="form-v4-content">
        <form action="#" class="form-left" th:action="@{http://localhost:8280/auth/realms/E-Government-Portal/account/}" method="get">

            <h2>INFOMATION</h2>
            <p class="text-1"><span>Vertrauensniveaus normal: </span>Bitte geben Sie folgende personenbezogene Daten, um Zugriff auf die Leistungen des Vertrauensniveaus normal zu erhalten. Diese Informationen sind erforderlich.</p>
            <p class="text-2"><span>Vertrauensniveaus substanziell: </span> Sie können zusätzlich die Zwei-Faktor-Authentisierung aktivieren. Diese Funktion ist optional. Wenn Sie sie aktivieren, erhalten Sir jedoch Zugriff auf die Leistungen des Vertrauensnivieaus substanziell.
                Die Zwei-Faktor-Authentisierung können Sie auch in einem Späteren Zeitpunkt aktivieren.</p>
            <p class="text-2">Haben Sie bereits eine Konto, dann melden Sie sich hier an</p>
            <div class="form-left-last">
                <input th:action="@{http://localhost:8089/books}"  type="submit" name="account" class="account" value="Anmelden">
            </div>

        </form>
        <form action ="#" class="form-detail" th:action="@{/register}" method="get" id="myform">
            <div class="form-row-last" align="center">
                <p>
                    Sie haben erfolgreich eine digitale Identität beim Identitätsanbieter erstellt.
                </p>
                <input type="submit" name="register" class="register" value="New Register">
            </div>
        </form>
    </div>
</div>

</body>
</html>